@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

html {
    font-size: 62.5%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 1.1rem;
    font-weight: 300;
}

body {
    max-width: 656px;
    height: 368px;
    display: grid;
    grid-template-areas: "main-video advertisement"
                         "main-video related";
    padding: 21px 24px;
    grid-gap: 15px;
    margin: 0 auto;
}

.video-frame, .advertisement {
    background-color: #C4C4C4;
}

.main-video {
    grid-area: main-video;
}

.main-video h1 {
    font-size: 1.4rem;
    font-weight: 700;
}

.main-video div, h1, p {
    margin-bottom: 10px;
}

.main {
    width: 326px;
    height: 202px;
}


.advertisement {
    grid-area: advertisement;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 270px;
    height: 76px;
}


.related {
    grid-area: related;
    display: flex;
    flex-direction: column;
}

.related-frame {
    width: 101px;
    height: 71px;
}

.related .related-video {
    display: flex;
    align-content: center;
    margin-bottom: 10px;
}

.related .related-video .info {
    margin-left: 4px;
}

.related .related-video .info h2 {
    font-weight: 700;
    font-size: 1.4rem;
    margin-bottom: 7px;
}

.related .related-video .info p {
    margin-bottom: 5px;
}
